/* Google font */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Scope+One&display=swap');

body, select, button {
    font-family: 'PT Serif', serif; 
    font-family: 'Scope One', serif;
}

table {
    border: solid;
    width: 80%;
    padding: 3px;
}

.error {
    font-weight: bold;
    color: #AD1513;
}

article {
    border: 1px solid;
    padding: 5px;
    margin: 5px;
}

fieldset {
    border: none;
}

textarea {
    width: 50%;
    height: 100px;
}

label {
    width: 100px;
    display: inline-block;
}

.btnOffset {
    margin-left: 118px;
}